# PostgreSQL
POSTGRES_DB=travel_agency
POSTGRES_USER=travel_agency_user
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

# Adminer
ADMINER_PORT=18080

# Observability
PROMETHEUS_PORT=9090
LOKI_PORT=3100
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change_me
UPTIME_KUMA_PORT=3001
